openstack_cloud         = "kolla"
name_prefix             = "secops"

image_name              = "Ubuntu-22.04"   # Change to your image in Glance
private_vm_image_name   = "private-vm"      # snapshot image for private VM
keypair_name            = "your-keypair"   # Change to your keypair name

external_network_name   = "public1"         
admin_cidr              = "YOUR_PUBLIC_IP/32"  # Your public IP or CIDR

net_cidr                = "10.10.50.0/24"
private_net_cidr        = "10.10.51.0/24"

flavors = {
  secops_app = "flavor-secops-app"  
  obs_stack  = "flavor-obs-stack"
  gateway    = "flavor-workload"      # Gateway instance flavor
  private_vm = "flavor-workload"      # Private VM flavor
}

data_volume_sizes = {
  secops_app = 20
  obs_stack  = 20
  workload   = 10
}

enable_fip_obs = true
enable_fip_app = false

ssh_private_key_path = "/home/YOUR_USERNAME/.ssh/your-key"

