#!/bin/bash

# Clear any old environment that may conflict.
for key in $( set | awk '{FS="="}  /^OS_/ {print $1}' ); do unset $key ; done

export OS_PROJECT_DOMAIN_NAME='Default'
export OS_USER_DOMAIN_NAME='Default'

export OS_PROJECT_NAME='YOUR_PROJECT_NAME'
export OS_USERNAME='YOUR_USERNAME'
export OS_PASSWORD='YOUR_PASSWORD'

export OS_AUTH_URL='http://YOUR_OPENSTACK_IP:5000/v3'
export OS_IDENTITY_API_VERSION='3'
export OS_REGION_NAME='RegionOne'

# match with your cloud endpoints preference
export OS_INTERFACE='internal'
export OS_ENDPOINT_TYPE='internalURL'

