- hosts: secops_app
  become: true
  vars:
    remote_base: /opt/secops
    remote_app_dir: /opt/secops/secops_app
    local_app_dir: "{{ playbook_dir }}/../secops_app"
    openrc_src: "{{ playbook_dir }}/files/tenantA-openrc.sh"
    openrc_dst: "{{ remote_base }}/tenantA-openrc.sh"
    env_file: "{{ remote_app_dir }}/openstack.env"


  tasks:
    - name: Ensure dirs
      file:
        path: "{{ item }}"
        state: directory
      loop:
        - "{{ remote_base }}"
        - "{{ remote_app_dir }}"
        - /data/secops

    - name: Copy secops_app source (from repo secops_app/)
      copy:
        src: "{{ local_app_dir }}/"
        dest: "{{ remote_app_dir }}/"
        mode: "0644"

    - name: Copy OpenRC to secops-app VM
      copy:
        src: "{{ openrc_src }}"
        dest: "{{ openrc_dst }}"
        mode: "0600"

    - name: Generate openstack.env from OpenRC
      shell: |
        set -e
        set -a
        . {{ openrc_dst }}
        set +a
        env | grep '^OS_' > {{ env_file }}
        chmod 600 {{ env_file }}  
      args:
        executable: /bin/bash

    - name: Start secops-api container
      shell: |
        set -e
        cd {{ remote_app_dir }}
        docker compose up -d
      args:
        executable: /bin/bash

    - name: Verify secops-api local
      shell: |
        curl -s --max-time 3 http://127.0.0.1:8000/metrics | head
      register: metrics_out
      changed_when: false

    - debug:
        var: metrics_out.stdout
